<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>final lab grading criteria  0202</h2>
    <p>
        ____# 0202   <br>
        1- Is the app added to the installed apps list in the settings file? -T <br>
        <br>
        2- Is the database configuration updated inside the settings file? -T <br>
        <br>
        3- Were migrations performed? -T <br>
        <br>
        4- Are there three fields in the booking form: First name, Reservation date and Reservation slot? -T<br>
        <br>
        5- Does a date selector open up when you click on the reservation date field on the booking form? -T  <br>
        <br><br>
        <hr>
        6- Are all the bookings available as JSON data on the reservations page? <br>
        <br>
        7- Is duplicate booking prohibited on a specific date if the time is already booked? <br>
        <br>
        8- Does changing the date refresh the booking data? <br>
        <br>
        9- Is a duplicate booking on a specific date and time unavailable if the slot is already booked? <br>
        <br>
        10-Can you display bookings for a specific date using the API? <br>
        <br>
        11-If there is no booking, does a No Booking message show for that date? <br>
        <br>
        12-Was fetch API used to retrieve data from the API? <br>
        <br>
        13-Is the current date automatically selected when you open the booking form? <br>


        <br><br>
    </p>
</body>
</html>