<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>204_book_save_4loop demo </title>
</head>
<body>
    <h2>204_book_save_4loop</h2>
    <p>

        ______________# 204_book_save_4loop  > book.html > needs edits
                            // add for loop on the  const ' data ' step11.3
                const data = [];
                for (var item of data) {
                    console.log(item.fields);
                    reserved_slots.push(item.fields.reservation_slot);
                }

                    // add new variable and assign a string -step12
                var slot_options = " <option value="0" disabled> Select time </option> "

                for (var i = 11, i < 20, i++) {
                    const label = formatTime(i);

                    if reserved.slots.includes(i) == True:
                        slot_options += '<option value=${i} disabled> ${label} </option>'
                    else:
                        slot_options += '<option value=${i}> ${label} </option>'
                }


    </p>
</body>
</html>